<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加</title>
</head>
<body>
    <!-- <form> -->
    <form action="http://localhost:3000/add" method="GET">   
    姓名: <input type="text" name="name"><br>
    专业：<input type="text" name="major"><br>
    <input type="submit" value="确认添加">
    </form>
    </body>
</html>